able {

    border: 2px solid gray;
    
    }
     td {
    padding: 5px;
    text-align: left;
    border: hidden;
   
    }
    
    
    table {
        border-spacing: 2px;
    }
    th {
        background-color: orange; 
        border-bottom: 5px solid gray;
        font-weight: bolder;
        text-align: center;
        padding: 5px;
        border-left: hidden;
        border-right: hidden;
        border-top: 5px solid gray;
 
    }
 
    .status {
        background-color: orange;
        border-bottom: 5px solid gray;
        font-weight: bold;
        
 
    }
    .header {
        border-bottom: none ;
    }